<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="text-center">

        <h1>DEPARTURE & DESTINATION</h1>

    </div>

        <br>
        <br>

        <form action="/taxiMath" method="GET">

            <div class="form-group">
                <div class="float-md-left">
                    <h5>from:</h5>
                </div>
                <div class="">
                    <div class="input-group">
                        <input class="form-control" type="text" name="location" value="fromWhere">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="float-md-left">
                    <h5>To:</h5>
                </div>
                <div class="">
                    <div class="input-group">
                        <input class="form-control" type="text" name="location" value="toWhere">
                    </div>
                </div>
            </div>

            <button class="float-md-left btn btn-warning" type="submit" name="submit">SUBMIT</button>

        </form>
</body>

</html>