<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="text-center">

        <h1>DEPARTURE & DESTINATION</h1>

    </div>

    <br>
    <br>

    <form action="/taxiMath" method="post">

        <div class="form-group w-25">
            <div class="float-md-left">
                <h5>from:</h5>
            </div>
            <select name="locationFrom" class="browser-default custom-select">
                <option selected>Place of departure</option>
                <option value="CPT">Cape Town</option>
                <option value="Nyanga">Nyanga</option>
                <option value="Wynberg">Wynberg</option>
                <option value="Strand">Strand</option>
                <option value="Mfuleni">Mfuleni</option>
            </select>
        </div>

        <div class="form-group w-25">
            <div class="float-md-left">
                <h5>To:</h5>
            </div>
            <select name="locationTo" class="browser-default custom-select">
                <option selected>Select destination</option>
                <option value="CPT">Cape Town</option>
                <option value="Nyanga">Nyanga</option>
                <option value="Wynberg">Wynberg</option>
                <option value="Strand">Stand</option>
                <option value="Mfuleni">Mfuleni</option>
            </select>
        </div>

        <button class="float-md-left btn btn-warning" type="submit" name="submit">SUBMIT</button>

    </form>
</body>

</html>