<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="text-center">

        <h1>SELECT OPTION</h1>

            <br>
            <br>
            <br>

            <form action="/calculateFare" method="GET">
                <button class="btn btn-default btn-warning" type="submit" name="calculateFare">CALCULATE FARE</button>
            </form>
            <br>
            <br>
            <br>
            <form action="/taxiCondition" method="GET">
                <button class="btn btn-default btn-warning" type="submit" name="taxiCondtion">TAXI SURVEY</button>
            </form>

    </div>
</body>

</html>