<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="text-center">
        <h1>CALCULATE TAXI TOTAL</h1>
    </div>

    <br>
<form action="/taxiFareTotal" method="post">
    <div class="form-group w-25 row">
        <div class="col-xs-2">
            <label class="float-md-left" for="ex1" >Number of passengers:</label>
            <input class="form-control" id="ex1" type="number" name="numberOfPassengers">
        <br>
        <br>
    
        <div class="col-xs-2">
            <label class="float-md-left" for="ex2">Amount paid:</label>
            <input class="form-control" id="ex1" type="number" name="amountPaid">
        </div>
    </div>
    </div>

    <br>
    
    <button class="float-md-left btn btn-warning" type="submit" name="calculateTaxiTotal">CALCULATE</button>
    </form>

    <br>
    <br>

    <div class="form-group">
        <div class="float-md-left">
            <h5>TOTAL: {{total}}</h5>
        </div>
    </div>

    <div class="form-group">
        <div class="float-md-left">
            <h5>CHANGE: {{change}}</h5>
        </div>
    </div>

    <br>

    <form action="/backToMenu" method="GET">
    <button class="float-md-left btn btn-warning" type="submit" name="calculateTaxiTotal">BACK TO MENU</button>
    </form>
</body>
</html>