<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="text-center">
        <h1>TAXI MATH</h1>
    </div>

    <div class="form-group">
    <div class="float-md-left">
        <h5>Taxi Fare:</h5>
        {{fare}}
    </div>
    </div>

    <form action="/taxiFareTotal" method="GET">
    <button class="float-md-left btn btn-warning" type="submit" name="calculateTaxiTotal">TAXI TOTAL</button>
    </form>
    
</body>
</html>