<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div class="text-center">
        <h1>TAXI SURVEY</h1>
    </div>
    <br>

    <div class="form-group w-25 row">
        <div class="col-xs-2">
            <label class="float-md-left" for="ex1">Passenger name:</label>
            <input class="form-control" id="ex1" type="text">
        </div>
        <br>
    
        <div class="col-xs-2">
            <label class="float-md-left" for="ex2">Name of taxi driver:</label>
            <input class="form-control" id="ex1" type="text">
        </div>
    </div>

    <div class="form-group w-25 row">
        <div class="col-xs-2">
            <label class="float-md-left" for="ex1">Rate the driver's driving:</label>
            <input class="form-control" id="ex1" type="number" max="10" min="1">
        </div>
    </div>


</body>
</html>